
/*
 * JavaFX CSS Reference Guide:
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 */

.root {
	/* 960x540 */
	-fx-pref-width: 768px;
	-fx-pref-height: 432px;

	/* Restrict window resizing, -- Java 9 * /
	-fx-max-width: 1200px;
	-fx-min-width:  520px;
	-fx-min-height: 420px;
	-fx-background-color: blue; */
}
